.mheader {
	text-align: justify;
	color: #CCC;
}
.topheader {
	text-align: center;
	color: #FFF;
}
.footer {
	text-align: left;
}
.design {
	text-align: center;
}
.socialred {
	text-align: right;
}
